<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
    <title>OhMyChat Popup</title>
  </head>

  <body>
    <!--About Popup View-->
    <div class="container about hidden">
      <h1 class="badge about">OhMyChat</h1>
      <img src="../assets/icons/icon-128.png" alt="OhMyChat Logo" />
      <p class="description-text">
        You are currently using the OhMyChat Chrome extension v0.1
      </p>
    </div>
    <!--Webpages Popup View-->
    <div class="container normal hidden">
      <img src="../assets/icons/cogwheel.png" alt="settings" class="settings_icon">
      <h1 class="badge normal">Webpage Panel</h1>
      <img src="../assets/icons/icon-128.png" alt="OhMyChat Logo" />
      <p class="summary-options-text">Summary options:</p>
      <button id="webpage-content-btn">Summarize Content</button>
      <select class="llm_engine_select">
        <option value="chatgpt">ChatGPT</option>
        <option value="chatgpt-split">ChatGPT (split large inputs)</option>
        <option value="claude">Claude</option>
      </select>
    </div>
    <!--YouTube Popup View-->
    <div class="container youtube hidden">
      <img src="../assets/icons/cogwheel.png" alt="settings" class="settings_icon">
      <h1 class="badge youtube">YouTube Panel</h1>
      <img src="../assets/icons/youtube.png" alt="YouTube Logo" />
      <p class="summary-options-text">Summary options:</p>
      <button id="youtube-transcript-btn">Video Transcript</button>
      <select class="llm_engine_select">
        <option value="chatgpt">ChatGPT</option>
        <option value="chatgpt-split">ChatGPT (split large inputs)</option>
        <option value="claude">Claude</option>
      </select>
    </div>
    <!--Twitter Tweets List Popup View-->
    <div class="container twitter hidden">
      <img src="../assets/icons/cogwheel.png" alt="settings" class="settings_icon">
      <h1 class="badge twitter">Twitter Panel</h1>
      <img src="../assets/icons/twitter.png" alt="Twitter Logo" />
      <p class="summary-options-text">Summary options:</p>
      <label for="tweets-amount">Tweet Amounts:</label>
      <input id="tweets-amount" name="amount" type="number" value="20" />
      <button id="twitter-tweets-btn">Tweet List</button>
      <select class="llm_engine_select">
        <option value="chatgpt">ChatGPT</option>
        <option value="chatgpt-split">ChatGPT (split large inputs)</option>
        <option value="claude">Claude</option>
      </select>
    </div>
    <!--Twitter Thread Popup View-->
    <div class="container twitter-thread hidden">
      <img src="../assets/icons/cogwheel.png" alt="settings" class="settings_icon">
      <h1 class="badge twitter">Twitter Panel</h1>
      <img src="../assets/icons/twitter.png" alt="Twitter Logo" />
      <p class="summary-options-text">Summary options:</p>
      <button id="twitter-thread-btn">Current Thread</button>
      <select class="llm_engine_select">
        <option value="chatgpt">ChatGPT</option>
        <option value="chatgpt-split">ChatGPT (split large inputs)</option>
        <option value="claude">Claude</option>
      </select>
    </div>
  </body>

  <script src="../build/popup.js"></script>
</html>
