<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
    <title>OhMyChat Popup</title>
  </head>

  <body>
    <!--About Popup View-->
    <div class="container about hidden">
      <h1 class="badge about">OhMyChat</h1>
      <img src="../assets/icons/icon-128.png" alt="OhMyChat Logo" />
      <p class="description-text">
        You are currently using the OhMyChat Chrome extension v0.1
      </p>
    </div>
    <!--Webpages Popup View-->
    <div class="container normal hidden">
      <img
        src="../assets/icons/cogwheel.png"
        alt="settings"
        class="settings_icon"
      />
      <h1 class="badge normal">Webpage Panel</h1>
      <img
        class="panel-logo-image"
        src="../assets/icons/icon-128.png"
        alt="OhMyChat Logo"
      />
      <button id="webpage-content-btn">Generate Prompt</button>
      <img
        class="loading-image hidden"
        src="../assets/images/loading.gif"
        alt="loading..."
      />
      <div class="prompt-container hidden">
        <textarea name="prompt-text" class="prompt-text"></textarea>
        <button class="copy-clipboard-btn" data-type="normal">
          Copy to clipboard
        </button>
        <button class="process-llm-btn" data-type="normal">
          Process by LLM
        </button>
        <select class="llm_engine_select">
          <option value="chatgpt">ChatGPT</option>
          <option value="gemini">Gemini</option>
          <option value="claude">Claude</option>
          <option value="hugging-chat">HuggingChat</option>
          <option value="poe">Poe</option>
        </select>
      </div>
    </div>
    <!--YouTube Popup View-->
    <div class="container youtube hidden">
      <img
        src="../assets/icons/cogwheel.png"
        alt="settings"
        class="settings_icon"
      />
      <h1 class="badge youtube">YouTube Panel</h1>
      <img
        class="panel-logo-image"
        src="../assets/icons/youtube.png"
        alt="YouTube Logo"
      />
      <button id="youtube-transcript-btn">Generate Prompt</button>
      <img
        class="loading-image hidden"
        src="../assets/images/loading.gif"
        alt="loading..."
      />
      <div class="prompt-container hidden">
        <textarea name="prompt-text" class="prompt-text"></textarea>
        <button class="copy-clipboard-btn" data-type="youtube">
          Copy to clipboard
        </button>
        <button class="process-llm-btn" data-type="youtube">
          Process by LLM
        </button>
        <select class="llm_engine_select">
          <option value="chatgpt">ChatGPT</option>
          <option value="gemini">Gemini</option>
          <option value="claude">Claude</option>
          <option value="hugging-chat">HuggingChat</option>
          <option value="poe">Poe</option>
        </select>
      </div>
    </div>
    <!--Twitter Tweets List Popup View-->
    <div class="container twitter hidden">
      <img
        src="../assets/icons/cogwheel.png"
        alt="settings"
        class="settings_icon"
      />
      <h1 class="badge twitter">Twitter Panel</h1>
      <img
        class="panel-logo-image"
        src="../assets/icons/twitter.png"
        alt="Twitter Logo"
      />
      <label for="tweets-amount">Tweet Amounts:</label>
      <input id="tweets-amount" name="amount" type="number" value="20" />
      <button id="twitter-tweets-btn">Generate Prompt</button>
      <img
        class="loading-image hidden"
        src="../assets/images/loading.gif"
        alt="loading..."
      />
      <div class="prompt-container hidden">
        <textarea name="prompt-text" class="prompt-text"></textarea>
        <button class="copy-clipboard-btn" data-type="twitter">
          Copy to clipboard
        </button>
        <button class="process-llm-btn" data-type="twitter">
          Process by LLM
        </button>
        <select class="llm_engine_select">
          <option value="chatgpt">ChatGPT</option>
          <option value="gemini">Gemini</option>
          <option value="claude">Claude</option>
          <option value="hugging-chat">HuggingChat</option>
          <option value="poe">Poe</option>
        </select>
      </div>
    </div>
    <!--Twitter Thread Popup View-->
    <div class="container twitter-thread hidden">
      <img
        src="../assets/icons/cogwheel.png"
        alt="settings"
        class="settings_icon"
      />
      <h1 class="badge twitter">Twitter Panel</h1>
      <img
        class="panel-logo-image"
        src="../assets/icons/twitter.png"
        alt="Twitter Logo"
      />
      <button id="twitter-thread-btn">Generate Prompt</button>
      <img
        class="loading-image hidden"
        src="../assets/images/loading.gif"
        alt="loading..."
      />
      <div class="prompt-container hidden">
        <textarea name="prompt-text" class="prompt-text"></textarea>
        <button class="copy-clipboard-btn" data-type="twitter-thread">
          Copy to clipboard
        </button>
        <button class="process-llm-btn" data-type="twitter-thread">
          Process by LLM
        </button>
        <select class="llm_engine_select">
          <option value="chatgpt">ChatGPT</option>
          <option value="gemini">Gemini</option>
          <option value="claude">Claude</option>
          <option value="hugging-chat">HuggingChat</option>
          <option value="poe">Poe</option>
        </select>
      </div>
    </div>
  </body>

  <script src="../popup.js"></script>
</html>
