<!doctype html>
<html>
  <head>
    <title>OhMyChat Settings</title>
    <link rel="stylesheet" href="settings.css">
  </head>
  <body>
    <div class="container">
      <h2 class="extension-settings-title">OhMyChat Extension Settings</h2>
      <form id="settings-form" name="settings-form">
        <label for="engine-select">Select Engine:</label>
        <select id="engine-select" name="engine">
          <option value="chatgpt">ChatGPT</option>
          <option value="claude">Claude</option>
          <option value="duck-ai">DuckDuckGo AI</option>
          <option value="hugging-chat">HuggingChat</option>
          <option value="gemini">Gemini</option>
          <option value="poe">Poe</option>
        </select>

        <label for="youtube-prompt">YouTube Prompt:</label>
        <textarea id="youtube-prompt" name="youtubePrompt"></textarea>

        <label for="twitter-prompt">Twitter Prompt:</label>
        <textarea id="twitter-prompt" name="twitterPrompt"></textarea>

        <label for="thread-prompt">Thread Prompt:</label>
        <textarea id="thread-prompt" name="threadPrompt"></textarea>

        <label for="webpage-prompt">Webpage Prompt:</label>
        <textarea id="webpage-prompt" name="webpagePrompt"></textarea>

        <label for="selection-prompt">Selection Prompt:</label>
        <textarea id="selection-prompt" name="selectionPrompt"></textarea>

        <div class="copy-clipboard-container">
          <input type="checkbox" name="copy-clipboard-check" id="copy-clipboard-check">
          <label for="copy-clipboard-check">
            Copy to Clipboard by Default
          </label>
        </div>

        <button type="button" id="save-button">Save</button>
        <button type="button" id="reset-button">Reset</button>
      </form>
    </div>
    <script src="../settings.js"></script>
  </body>
</html>
