* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  color: #ffffff;
  background-color: #31547d;
  border: solid 1px #31547d;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

button:hover,
button:active {
  color: #dadada;
  background-color: #175463;
  cursor: pointer;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.badge {
  margin: 1rem;
  font-size: 1.2rem;
  background-color: #bfbfbf;
  color: #535353;
  padding: 0 0.5rem;
  border: solid 2px grey;
  border-radius: 50px;
}

#tweets-amount {
  margin: 0.2rem 1rem 1rem 1rem;
}

.badge.twitter {
  color: #002870;
  background-color: #74acff;
  border-color: #002870;
}
