.panel-logo-image {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.loading-image {
  width: 50px;
  height: auto;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 300px;
  min-height: 100%;
  background-color: #fff3bc;
}

.settings_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  margin: 0.7rem;
  cursor: pointer;
}

.settings_icon:hover,
.settings_icon:active {
  opacity: 0.6;
}

.summary-options-text {
  margin: 1rem;
}

.description-text {
  text-align: center;
  margin: 1rem;
  font-size: 1rem;
}

.container.about {
  background-color: #ffd48e;
}

.container.youtube {
  background-color: #ff9c9c;
}

.container.twitter,
.container.twitter-thread {
  background-color: #d2fdff;
}

.badge.normal {
  color: #615900;
  background-color: #fffa82;
  border-color: #877c00;
}

.badge.about {
  color: #874700;
  background-color: #fcab3f;
  border-color: #874700;
}

.badge.youtube {
  color: #700000;
  background-color: #fc5d5d;
  border-color: #700000;
}

