<div class="prompt-container">
  <div class="control-bar">
    <button class="close-prompt-container">X</button>
  </div>
  <h1 class="badge">Prompt Modal</h1>
  <textarea name="prompt-text" class="prompt-text"></textarea>
  <button class="copy-clipboard-btn">Copy to clipboard</button>
  <button class="process-llm-btn">Process by LLM</button>
  <select class="llm_engine_select">
    <option value="chatgpt">ChatGPT</option>
    <option value="gemini">Gemini</option>
    <option value="claude">Claude</option>
    <option value="hugging-chat">HuggingChat</option>
    <option value="poe">Poe</option>
  </select>
</div>
